.section {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  z-index: -1;
}

.section-shaped {
  position: relative;
}

.shape .shape-style-1.shape-default {
  background-image: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%)
}

.section-shaped .shape-default {
  background-image: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

.section-shaped .shape {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.section-shaped .shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.section-shaped .shape span {
  position: absolute;
}

@media (max-width: 991.98px) {
  .section-shaped .shape-style-1 span {
      height: 120px;
  }
}

/* span 1 */
.section-shaped .shape-style-1 span:nth-child(1) {
  left: -4%;
  bottom: auto;
}

#span-opacity-1 {
  background: rgba(255, 255, 255, 0.1);
}

.section-shaped .shape-default span:nth-child(1) {
  background: #7795f8;
}

/* span 2 */
.section-shaped .shape-style-1 span:nth-child(2) {
  right: 4%;
  top: 10%;
}

.section-shaped .shape-default span:nth-child(2) {
  background: #7b9aff;
}

/* span 3 */
.section-shaped .shape-style-1 span:nth-child(3) {
  top: 280px;
  right: 5.66666%;
}

#span-opacity-3 {
  background: rgba(255, 255, 255, 0.3);
}

.section-shaped .shape-default span:nth-child(3) {
  background: #6f8ff8;
}

/* span 4 */
.section-shaped .shape-style-1 span:nth-child(4) {
  top: 320px;
  right: 7%;
}

#span-opacity-2 {
  background: rgba(255, 255, 255, 0.15);
}

.section-shaped .shape-default span:nth-child(4) {
  background: #6772e5;
}

/* span 5 */
.section-shaped .shape-style-1 span:nth-child(5) {
  top: 38%;
  left: 1%;
  right: auto;
}

#span-opacity-0 {
  background: rgba(255, 255, 255, 0.05);
}

.section-shaped .shape-default span:nth-child(5) {
  background: #6772e5;
}

/* span 6 */
.section-shaped .shape-style-1 span:nth-child(6) {
  width: 200px;
  height: 200px;
  top: 44%;
  left: 10%;
  right: auto;
  background: rgba(255, 255, 255, 0.15);
}

/* span 7 */
.section-shaped .shape-style-1 span:nth-child(7) {
  bottom: 50%;
  right: 36%;
  background: rgba(255, 255, 255, 0.04);
}

/* span 8 */
.section-shaped .shape-style-1 span:nth-child(8) {
  bottom: 70px;
  right: 2%;
  background: rgba(255, 255, 255, 0.2);
}

/* span 9 */
.section-shaped .shape-style-1 span:nth-child(9) {
  bottom: 1%;
  right: 2%;
  background: rgba(255, 255, 255, 0.1);
}

#nav-bg {
  position: fixed;
  height: 5em;
  width: 100%;
  background-color: #172b4d;
  top: 0;
  z-index: 80;
  transition: ease-in-out opacity 400ms;
}

/* Neon Text */
.text-gradient {
  font-style: normal;
  color: transparent;
  position: absolute;
}

.text-gradient span {
  background-image: linear-gradient(90deg, #FFFF00 0%, #FF1493 100%);
 -webkit-background-clip: text;
 background-clip: text;
}

.text-gradient::after {
  content: 'React Native';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.text-gradient:hover::after {
  animation: neon 800ms ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    background-image: linear-gradient(90deg,  #FFFF00 0%, #FF1493 100%);
    -webkit-background-clip: text;
    background-clip: text;
    transform: scale(1.0125);
    filter: blur(0.3em) contrast(200%);
  }
  to {
    background-image: linear-gradient(90deg,  #FFFF00 0%, #FF1493 100%);
    -webkit-background-clip: text;
    background-clip: text;
    transform: scale(1.00125);
    filter: blur(0.15em) contrast(200%);
  }
}


#bg-clip {
  background-clip: text;
  -webkit-background-clip: text;
}

.background-gradient {
  background-image: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

/* Footer */
#footer-background {
  background: linear-gradient(87deg, #212529 0, #212229 100%);
}
